/*
GLOBAL RESET
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
  min-height: 100vh;
}

@media only screen and (max-width: 21.75em) {
  .container {
    padding: 2rem 1rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: center
}

.title {
  font-weight: 400;
  font-size: 4rem;
}

@media only screen and (max-width: 68.75em) {
  .title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .title {
    font-size: 2rem;
  }
}

.main-wrapper {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center
}

.summary {
  line-height: 1;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}

.summary__weight {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  word-spacing: 10px
}

.summary__tracking {
  font-size: 1.8rem;
  color: #777;
  line-height: 1.5;
}

.current__weight {
  background: #333;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 1.8rem;
  box-sizing: content-box;
}

.input {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  max-width: 80%
}

.input>div:not(:last-child) {
  margin-right: 2rem;
}

.input__value {
  flex: 1;
  text-align: left;
}

.form__input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 5px 1rem;
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1px solid #333;
}

.add__button {
  color: #333
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  line-height: 1;
  display: flex;
}

.tracker {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 2rem;
  width: 80%;
}

.tracker>* {
  margin-bottom: 2rem;
}

.tracker>*:not(:last-child) {
  margin-bottom: 1rem;
}

.tracker__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}

.tracker__item:active {
  transform: translateY(2px);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}

.tracker__item:hover {
  transform: translateY(-2px);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.05);
}

.tracker__item__date {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}

.tracker__item__value {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.item__value--icon {
  font-size: 5rem;
  height: auto;
  margin-right: 2rem;
}

.increase__icon {
  color: green
}

.decrease__icon {
  color: red
}

.tracker__item__value-number {
  color: #333;
  font-size: 5.5rem;
  line-height: 1;
  font-weight: 300;
}

.remove__item-btn {
  position: absolute;
  font-size: 3rem;
  top: 2rem;
  right: 2rem;
  color: #ff5959
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.2rem;
    margin-bottom: 1.8rem;
  }

  .tracker {
    width: 72%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  .main-wrapper {
    margin-top: 0.5rem;
    padding: 1rem;
  }

  .summary {
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
  }

  .input {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    max-width: 65%;
  }

  .tracker {
    width: 76%;
  }

  .tracker__item {
    padding: 1rem 1.8rem;
  }

  .tracker__item__date {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .item__value--icon {
    font-size: 3rem;
  }

  .tracker__item__value-number {
    font-size: 3.5rem;
  }

  .remove__item-btn {
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
  }
}